<img src="../assets/images/burger.png" alt="burger">

<h1>Eat-Da-Burger</h1>

<div class="container">
    <div id="undevoured">
        <h2 class="tac">Fresh Burgers</h2>
        {{#each burgers}}
            {{#unless devoured}}
                <div class="undevoured">
                    <div class="burgerName">
                        {{id}}. {{burger_name}}
                    </div>
                    <div class="devourButton">
                        <button class="devour" data-id={{id}}>Devour it!</button>
                    </div>
                </div>

            {{/unless}}
        {{/each}}
    </div>

    <div id="devoured">
        <h2 class="tac">Devoured Burgers</h2>
        {{#each burgers}}
            {{#if devoured}}
                <div class="devoured burgerName">{{id}}. {{burger_name}}</div>
            {{/if}}
        {{/each}}
    </div>

</div>
<br>
<form>
    <input type="text" id="newBurger">
    <button id="createBurger">Create</button>
    <br>
    <br>
    Enter the name of a burger you would like to add and click the "Create" button.
</form>